@page "/counter"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient http
@inject IAccessTokenProvider AuthorizationService

<PageTitle>Counter</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Best movie is:</p>
        <h3>@name</h3>
        <button @onclick="GetName">Get Name</button>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }

    string name = "?";
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        http.DefaultRequestHeaders.Add("Access-Control-Allow-Origin", "*");
    }

    private async Task GetName()
    {
        name = "Loading...";

        var state = await AuthenticationState;
        var accessTokenResult = await AuthorizationService.RequestAccessToken();

        accessTokenResult.TryGetToken(out var token);

        http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token.Value);
        var response = await http.GetAsync("api/movie");
        name = await response.Content.ReadAsStringAsync();
    }
}